.title-css {
  text-align: center;
  margin: 25px;
}

.mycard-css {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 10px;
  text-align: center;
}

.tag-css {
  width: 250px;
  height: 20px;
}

.footer-css {
  text-align: center;
  margin: 15px;
}
